*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
min-height: 100vh;
background: #111;
overflow: hidden;
}

span
{
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 15px rgba(0,0,0,0.5));
    animation: fadeInOut 1s linear infinite;
}
@keyframes fadeInOut
{
    0%,100%
    {
        opacity: 0;
    }
    20%,80%
    {
        opacity: 1;
    }
} 
span::before
{
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background: url(heart.png);
    background-size: cover;
    animation: moveShape 1s linear infinite;
}
@keyframes moveShape
{
    0%
    {
        transform: translate(0) rotate(0deg);
    }
    100%
    {
        transform: translate(300px) rotate(360deg);
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#ffc1f8, #e056b9);
}

img {
    border: 5px double rgb(13, 60, 76);
    width: 70%;
}

.birthdayCard {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
}

.birthdayCard:hover{
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2), 0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
    transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
    visibility: hidden;
}

.cardFront {
    position: relative;
    background-color: #f39eeb;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2), 30px 0 50px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.happy {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    background-image: linear-gradient(120deg, #f1a7e8 30%, #e873c7 70%);
    transition: 0.1s;
}

.balloons {
    position: absolute;
}

.balloon-1,
.balloon-2,
.balloon-3,
.balloon-4 {
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
}

.balloon-1{
    background-color: salmon;
    left: -10px;
    top: 50px;
}

.balloon-2{
    background-color: red;
    left: 50px;
    top: 20px;
}

.balloon-3{
    background-color: rgb(214, 85, 253);
    left: 110px;
    top: 50px;
}

.balloon-4{
    background-color: rgb(136, 77, 199);
    left: 170px;
    top: 50px;
}

.balloon-1::before,
.balloon-2::before,
.balloon-3::before,
.balloon-4::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 155px;
    background-color: #454545;
    top: 95px;
    left: 43px;
}

.balloon-1::after,
.balloon-2::after,
.balloon-3::after,
.balloon-4::after {
    content: "";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
}

.balloon-1::after {
    border-bottom: 10px solid salmon;
}

.balloon-2::after {
    border-bottom: 10px solid red;
}

.balloon-3::after {
    border-bottom: 10px solid rgb(214, 85, 253);
}

.balloon-4::after {
    border-bottom: 10px solid rgb(136, 77, 199);
}

.cardInside {
    position: absolute;
    background-color: #f39eeb;
    width: 250px;
    height: 350px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p{
    font-family: 'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;;
    font-size: 14px;
    margin: 15px;
    color: #000000;
}

.name {
    text-align: end;
}

.back {
    text-align: center;
}
.back img {
    text-align: end;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}